include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Variables y Estructuras de Control en #[em Python]
        meta(meta name="description" content="Ruta de aprendizaje programa Variables y Estructuras de Control en #[em Python].")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Variables y Estructuras de Control en #[em Python]
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Variables y Estructuras de Control en #[em Python]
                                        li 
                                            span #[strong Código:] 22810005
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] Cumplir con los requisitos del proceso de selección definido por el SENA en el centro de formación.
                                            br
                                            br
                                            | Estar registrado en el aplicativo Sofía Plus.
                                            br
                                            br
                                            | Edad mínima 14 años.
                                            br
                                            br
                                            | Conocimientos en manejo de herramientas informáticas.
                                            br
                                            br 
                                            | Conocimientos previos en algoritmia y diagramas de flujo.



                
                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_media.svg").curso-imagen          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 #[em Python] se encuentra en multitud de aplicaciones y servicios que usamos habitualmente. Es uno de los lenguajes de programación con mayor uso a nivel mundial. #[em Python] no sólo es multiplataforma y multiparadigma, sino que también sirve para desarrollar juegos o algoritmos científicos, aplicaciones para web o móvil.  #[em Python] posee la licencia de uso: #[em Python Software Foundation License], es libre y de código abierto.
                
                p El programa de formación complementario virtual, variables y estructuras de control en #[em Python], está orientado a desarrollar los conocimientos básicos en este lenguaje de programación para codificar soluciones informáticas que incluyan instrucciones secuenciales, condicionales y bucles.
                
                p #[em Lo maravilloso de aprender algo es que nadie puede arrebatárnoslo.  (B. B. King).]
 

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 La industria del #[em software] se ha impuesto sobre todas las demás, la programación se convirtió en una actividad fundamental en muchos campos y la necesidad de programadores en todo el mundo se ha incrementado, lo cual ha posicionado al programador como uno de los recursos humanos más valorados en esta industria.  Cada año se crean miles de nuevos puestos de trabajo en programación, se estima que para el 2020 en Estados Unidos se tendrán disponibles más de 1 millón de vacantes en puestos de trabajo relacionados al desarrollo de #[em software].
                
                p El Ministerio de Tecnologías de la Información y las Comunicaciones (MinTIC), desarrolla una estrategia masiva de formación en programación, a través de la cual se busca ampliar las oportunidades de empleo y crecimiento de los colombianos. Aprender a programar es aprender a pensar, dado que permite ejercitar otras capacidades que sirven para todos los ámbitos de la vida, como mejorar el razonamiento lógico formal y potenciar la habilidad para la resolución de problemas. 
                
                p #[em Python] es un lenguaje fácil de aprender. Dispone de miles de librerías que permiten en unas pocas líneas de código solucionar las necesidades del cliente.  Cuenta con una amplia gama de módulos específicos y soporte comunitario. #[em Python] es una excelente opción de lenguaje para la ciencia de datos y para el aprendizaje automático (Machine learning).  #[em Python] es uno de los lenguajes de programación con mayor tasa de crecimiento en los últimos años. Es el lenguaje de programación preferido a nivel internacional. #[em Python] es utilizado por casi el 26% de los programadores y es usado en producción por empresas como Google, Facebook, Instagram, Spotify o Netflix.
                
                p El SENA ofrece el programa complementario de "Variables y Estructuras de Control en #[em Python]" como un programa enfocado en los retos de la llamada cuarta revolución industrial, para incentivar el empleo en los jóvenes, ya que muchas organizaciones en Colombia y en el mundo están buscando talentos de la programación que faciliten los procesos digitales. Además, esta sería una oportunidad para posicionar a Colombia como un país innovador en la transformación y el desarrollo digital.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El programa de formación complementaria “Variables y Estructuras de Control en #[em Python]”, está dirigido a aprendices, técnicos, profesionales, empresarios, emprendedores, trabajadores y partes interesadas de los diversos sectores económicos que tengan relación con el desarrollo de #[em software] en la cotidianidad de sus actividades laborales; y organizaciones independientemente de su tamaño, tipo y naturaleza, de igual manera está dirigido a estudiantes en disciplinas relacionadas con el desarrollo de #[em software]  y a todas aquellas personas que de una u otra manera, se interesan por conocer las posibilidades que brinda la programación, para mejorar su desempeño laboral.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





